// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  &.locked {
    overflow: hidden;
  }
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background-color: #f7f7f7
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  padding: 15px 32px;
  background-color: #903277;
  font-size: 32px;
  border-radius: 10px;
  color: white;
  margin-top: 50px;
}
